+++
title = "Apache Dubbo"
linkTitle = "Apache Dubbo Website"

+++

{{< blocks/cover title="Apache Dubbo" image_anchor="top" height="med" color="secondary" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href='{{< relref "/overview/quickstart/" >}}'>
        快速开始 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href='{{< relref "/overview/what/dubbo3/index.html" >}}'>
        Tutorials<i class="fas fa-book-open ml-2"></i>
    </a>
    <p class="lead mt-2 font-weight-bold">Apache Dubbo 是一款支持多语言的、易用的 web 和 rpc 框架。 同时为构建企业级微服务提供服务发现、流量治理、可观测、认证鉴权等能力、工具与最佳实践。</p>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="white" height="auto" id="whyDubbo" %}}
<h2>Why Dubbo?</h2>
<br/>
<p class="font-weight-light">
    3.0 版本的正式发布，标志着 Apache Dubbo 正式进入云原生时代。3.0 在通信协议、服务发现、部署架构、服务治理上都对云原生基础设施进行了全面适配，
    提供了Triple、应用级服务发现、Dubbo Mesh等核心特性。3.0 版本的正式发布，标志着 Apache Dubbo 正式进入云原生时代。3.0 在通信协议、服务发现、部署架构、服务治理上都对云原生基础设施进行了全面适配，
    提供了Triple、应用级服务发现、Dubbo Mesh等核心特性。
</p>
<!--<p class="font-weight-light">-->
<!--    gRPC is a modern open source high performance Remote Procedure Call (RPC) framework that can run in any environment. It can efficiently connect services in and across data centers with pluggable support for load balancing, tracing, health checking and authentication. It is also applicable in last mile of distributed computing to connect devices, mobile applications and browsers to backend services.-->
<!--    <a href='{{< relref "/users/" >}}'>用户案例</a>-->
<!--</p>-->
{{% /blocks/lead %}}

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" title="下一代RPC协议 - Triple" url="./docs/concepts/rpc-protocol/" %}}
#### 易用性&多语言&编程范式

Triple 协议是基于 HTTP/2 之上定义的下一代 RPC 通信协议，相比于上一代 Dubbo2 协议，它具有更好的穿透性、通用性、以及面向网关代理场景的高性能表现，
提供了 Reactive Stream 数据交换模型。Triple 实现了对 gRPC 的完全兼容。
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" icon="fas fa-share-alt" title="应用级服务发现" url="./docs/concepts/service-discovery/" %}}
#### 丰富的流量管控能力与可观测性

从服务/接口粒度到应用粒度的升级，使得 Dubbo 在集群可伸缩性、连接异构微服务体系上更具优势。应用粒度能以更低的资源消耗支持超百万实例规模集群；
实现与 Spring Cloud、Kubernetes Service 等异构微服务体系的互联互通。
{{% /blocks/feature %}}

{{% blocks/feature image="blocks" icon="fa fa-share-alt" title="Mesh 解决方案" %}}
#### 面向百万实例微服务集群&高性能通信

依赖 Dubbo Mesh 将 Dubbo 纳入 Istio 等开源 Mesh 治理体系，
3.0 同时支持 ThinSDK + Sidecar 与 FatSDK（Proxyless）的部署模式，为 Mesh 架构提供了更多选择，尤其对于面临迁移或混合部署的场景，
Dubbo 提供了统一控制面的能力。
{{% /blocks/feature %}}

{{% blocks/feature image="blocks" icon="fa fa-share-alt" title="Mesh 解决方案" %}}
#### 企业生产环境验证

依赖 Dubbo Mesh 将 Dubbo 纳入 Istio 等开源 Mesh 治理体系，
3.0 同时支持 ThinSDK + Sidecar 与 FatSDK（Proxyless）的部署模式，为 Mesh 架构提供了更多选择，尤其对于面临迁移或混合部署的场景，
Dubbo 提供了统一控制面的能力。
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
    <h2>使用 Apache Dubbo 开发与治理微服务</h2>
    <p>By 刘军，Apache Dubbo PMC Chair</p>
    <button id="desktopShowVideoButton" onclick="kub.showVideo()">Watch Video</button>
    <br>
    <br>
    <a href="#" button id="desktopKCButton">了解 Dubbo3 及多语言体系！</a>
    <br>
    <br>
    <br>
    <br>
    <a href="#" button id="desktopKCButton">探索 Dubbo 生态、社区动态并参与线下活动！</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.bilibili.com/video/BV1vB4y1C7wL/?spm_id_from=333.999.0.0&vd_source=597fba5a448c8c27a9ad5f63263c117f" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/dubbo-features >}}


<!--{{< blocks/section color="primary" >}}-->
<!--{{% blocks/feature icon="far fa-envelope" title="订阅邮件组" %}}-->
<!--dev@dubbo.apache.org 参与社区的讨论-->
<!--{{% /blocks/feature %}}-->

<!--{{% blocks/feature icon="fab fa-github" title="欢迎参与贡献！" url="https://github.com/apache/dubbo#contributing" %}}-->
<!--我们通过 [Pull Request](https://github.com/apache/dubbo/pulls) 在 **GitHub** 上协作。我们期待您的加入！-->
<!--{{% /blocks/feature %}}-->

<!--{{% blocks/feature icon="fas fa-bullhorn" title="请关注我们的技术博客！" url="/zh/blog" %}}-->
<!--我们会在第一时间分享 Dubbo 新发布的特性和使用心得-->
<!--{{% /blocks/feature %}}-->
<!--{{< /blocks/section >}}-->
