+++
title = "Apache Dubbo"
linkTitle = "Apache Dubbo Website"

+++

{{< blocks/cover title="Apache Dubbo" image_anchor="top" height="full" color="secondary" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href='{{< relref "/overview/quickstart/" >}}'>
        快速开始 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href='{{< relref "/overview/whatsnew/" >}}'>
        Dubbo3 速览<i class="fas fa-book-open ml-2"></i>
    </a>
    <p class="lead mt-5 font-weight-bold">Apache Dubbo 是一款微服务框架，为大规模微服务实践提供高性能 RPC 通信、流量治理、可观测性等解决方案，<br/>
        涵盖 Java、Golang 等多种语言 SDK 实现。</p>
</div>
{{< blocks/link-down color="white" >}}
{{< /blocks/cover >}}

{{% blocks/lead color="white" %}}
<h2>下一代云原生微服务框架 - Dubbo3</h2>
<br/>
<p class="font-weight-light">
    3.0 版本的正式发布，标志着 Apache Dubbo 正式进入云原生时代。3.0 在通信协议、服务发现、部署架构、服务治理上都对云原生基础设施进行了全面适配，
    提供了Triple、应用级服务发现、Dubbo Mesh等核心特性。
</p>
<p class="font-weight-light">
    Dubbo3 已被阿里巴巴、饿了么、钉钉、工商银行、小米等在生产环境广泛采用，学习更多<a href='{{< relref "/users/" >}}'>用户案例</a>
    {{% /blocks/lead %}}
</p>

{{< blocks/section color="100" >}}
{{% blocks/feature icon="fas fa-exchange-alt" title="下一代RPC协议 - Triple" url="./docs/concepts/rpc-protocol/" %}}
Triple 协议是基于 HTTP/2 之上定义的下一代 RPC 通信协议，相比于上一代 Dubbo2 协议，它具有更好的穿透性、通用性、以及面向网关代理场景的高性能表现，
提供了 Reactive Stream 数据交换模型。Triple 实现了对 gRPC 的完全兼容。
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-share-alt" title="应用级服务发现" url="./docs/concepts/service-discovery/" %}}
从服务/接口粒度到应用粒度的升级，使得 Dubbo 在集群可伸缩性、连接异构微服务体系上更具优势。应用粒度能以更低的资源消耗支持超百万实例规模集群程；
实现与 Spring Cloud、Kubernetes Service 等异构微服务体系的互联互通。
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-share-alt" title="Mesh 解决方案" %}}
依赖 Dubbo Mesh 将 Dubbo 纳入 Istio 等开源 Mesh 治理体系，
3.0 同时支持 ThinSDK + Sidecar 与 FatSDK（Proxyless）的部署模式，为 Mesh 架构提供了更多选择，尤其对于面临迁移或混合部署的场景，
Dubbo 提供了统一控制面的能力。
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section color="primary" >}}
{{% blocks/feature icon="far fa-envelope" title="订阅邮件组" %}}
dev@dubbo.apache.org 参与社区的讨论
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="欢迎参与贡献！" url="https://github.com/apache/dubbo#contributing" %}}
我们通过 [Pull Request](https://github.com/apache/dubbo/pulls) 在 **GitHub** 上协作。我们期待您的加入！
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-bullhorn" title="请关注我们的技术博客！" url="/zh/blog" %}}
我们会在第一时间分享 Dubbo 新发布的特性和使用心得
{{% /blocks/feature %}}
{{< /blocks/section >}}
