public/
resources/
node_modules/
package-lock.json

*.iml
.idea/

.DS_Store
/.hugo_build.lock
benchmark/dist/
static/css/app.css
static/css/chunk-vendors.css
static/js/app.js
static/js/chunk-vendors.js

