<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType image/jpeg "access plus 7 days"
  ExpiresByType image/gif "access plus 7 days"
  ExpiresByType image/png "access plus 7 days"
  ExpiresByType image/webp "access plus 7 days"
  ExpiresByType image/svg+xml "access plus 7 days"
  ExpiresByType image/x-icon "access plus 7 days"

 
  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 days"
  ExpiresByType text/javascript "access plus 1 days"
  ExpiresByType application/javascript "access plus 1 days"

</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RedirectMatch 301 /zh-cn/docs/admin(.*) /zh-cn/docs/2.7/admin/$1
  RedirectMatch 301 /en-us/docs/admin(.*) /en-us/docs/2.7/admin/$1
  RedirectMatch 301 /zh-cn/docs/dev(.*) /zh-cn/docs/2.7/dev/$1
  RedirectMatch 301 /en-us/docs/dev(.*) /en-us/docs/2.7/dev/$1
  RedirectMatch 301 /zh-cn/docs/user(.*) /zh-cn/docs/2.7/user/$1
  RedirectMatch 301 /en-us/docs/user(.*) /en-us/docs/2.7/user/$1
  RedirectMatch 301 /zh-cn/docs/source_code_guide(.*) /zh-cn/docs/2.7/source_code_guide/$1
  RedirectMatch 301 /en-us/docs/source_code_guide(.*) /en-us/docs/2.7/source_code_guide/$1
</IfModule>

ErrorDocument 404 https://dubbo.apache.org/
