.shortcutsmenu {
    font-size: 13px;
    position: relative;
}

#keyboard-shortcuts-dialog .module {
    clear: none;
    float: left;
    margin: 0 7px 8px 8px;
    width: 47%;
}

#keyboard-shortcuts-dialog .module span {
    line-height: 1.8;
    width: 40%;
}

#keyboard-shortcuts-dialog .module strong {
    color: #666;
    float: left;
    font-weight: normal;
    padding: 6px 0 0 0;
    text-align: left;
    width: 49%;
    clear: left;
}

#editor-shortcuts-menu.shortcutsmenu .module strong {
    width: 39%;
}

#keyboard-shortcuts-dialog .module:nth-child(odd) {
    clear: left;
    margin-right: 15px;
}

#keyboard-shortcuts-dialog .module ul {
    margin: 7px 0;
    padding: 0;
}

#keyboard-shortcuts-dialog .module ul.item-details li {
    list-style-type: none;
    margin: 0 0 9px 0;
    clear: left;
}

#keyboard-shortcuts-dialog .module .mod-header {
    background-position: 0 12px;
}

#keyboard-shortcuts-dialog .module .mod-content {
    padding: 0 2px 0 0;
}

#keyboard-shortcuts-dialog .module h3 {
    border-bottom: thin solid #BBB;
    color: #000;
    font-weight: normal;
    margin: 0 0 1px 0;
    padding: 2px 2px 2px 0;
}

#keyboard-shortcuts-dialog .module kbd {
    background: #fff url(key_bg.png)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/3.5.9/_/download/batch/com.atlassian.confluence.keyboardshortcuts:confluence-keyboard-shortcuts/images/key_bg.png*/ repeat-x scroll 0 100%;
    border: 1px solid #ddd;
    -moz-border-radius: 0.166em;
    -webkit-border-radius: 0.166em;
    border-radius: 0.166em;
    display: inline-block;
    font-family: Arial, FreeSans, Helvetica, sans-serif;
    padding: 0 6px;
    text-align: center;
}

#keyboard-shortcuts-dialog .module kbd.regular-key {
    min-width: 16px;
    padding: 0 4px;
}

#keyboard-shortcuts-dialog .module kbd.modifier-key {
    min-width: 26px;
}

#keyboard-shortcuts-dialog .module .key-separator {
    padding: 0 7px;
}

#keyboard-shortcut-enabled-container {
    font-size: 13px;
    margin: 0 8px 15px 7px;
}

#keyboard-shortcut-enabled-checkbox {
    margin: 3px 3px 3px 0;
}

#keyboard-shortcut-editor-description {
    font-size: 13px;
    margin: 0 8px 15px;
    clear: both;
}

