.blog-post-list {
    padding-bottom: 5px;
}

.blog-post-list li.blog-item {
    border-bottom: 1px solid #eee;
    padding: 5px;
    overflow: hidden;
}

.blog-post-list li.blog-item:hover {
    background-color: #f9f9f9;
}

.blog-post-list li.blog-item .blog-title {
    display: block;
    color: #666;
    float: left;
}

.blog-post-list .blog-item-creator,
.blog-post-list .blog-item-date,
.blog-post-list .blog-item-space {
    color: #666;
    font-size: 0.85em;
    margin-left: 0.5em;
}

.blog-post-list .blog-item-creator a,
.blog-post-list .blog-item-space a {
    color: #666;
    font-size: 0.9em;
}

.blog-post-list .blog-item-creator {
    float: left;
}

.blog-post-list .blog-item-date,
.blog-post-list .blog-item-space {
    float: right;
}

.blog-post-list h4.sub-heading {
    border-bottom: 1px solid #ddd;
    color: #666666;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2px;
}

