.data-table {
    color: #666;
    font-size: 12px;
    padding: 0;
}

.data-table table {
    margin: 5px 0 0;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
}

.data-table .data-table-header th {
    border-bottom: 1px solid #f0f0f0;
    color: #666;
    font-weight: bold;
    text-align: left;
}
.data-table tr {
    border: none;
    cursor: default;
    margin: 0;
    padding: 0;
}
.data-table td,
.data-table th {
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
    white-space: nowrap;
    margin: 0;
    padding: 0 0 0 5px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.data-table tr.hover {
    background-color: #f0f0f0;
}
.data-table tr.selected,
.data-table tr.selected a,
.data-table tr.selected td {
    background-color: #69c;
    color: #fff;
}
.data-table td,
.data-table td a {
    color: #666;
    text-decoration: none;
    cursor: default;
}

/* Some default field styles */
.data-table .title-field {
    padding-left: 10px;
}
.data-table .title-field span {
    background-position: 0 50%;
    display: block;
    height: 24px;
    padding-left: 20px;
}

/*.dialog .search-result-date {*/
    /*text-align: right;*/
    /*padding-right: 15px;*/
/*}*/
/*.dialog .search-result,*/
/*.dialog .search-result a,*/
/*.dialog .search-result td {*/
/*}*/

/* needs local copy with stronger selector */
#com-atlassian-confluence #insert-link-dialog .assistive {
	position: absolute !important;
	left: -5000em !important;
	width: 4000em !important;
	/* todo: work out why this isn't applying without !important */
	overflow: hidden !important;
}
#insert-link-dialog .dialog-page-body .location-info {
	border-top: 1px solid #f0f0f0;
	font-size: .95em;
	overflow: hidden;
	padding: 0;
	width: 100%;
	position: absolute;
	top: 500px;
}
#insert-link-dialog .search-panel.has-breadcrumbs .location-info{
    top: 470px;
}
#insert-link-dialog .location-info .link-location-label {
    float: left;
}
#insert-link-dialog .dialog-page-body .location-info .row {
    padding: 10px 0 0 10px;
}
#insert-link-dialog .dialog-page-body {
    float: left;
    max-width: 599px;
    overflow: hidden;
}
#insert-link-dialog .dialog-page-body .search-panel,
#insert-link-dialog .dialog-page-body .recently-viewed-panel,
#insert-link-dialog .dialog-page-body .attachments-panel,
#insert-link-dialog .dialog-page-body .weblink-panel {
    height: 455px;
}
#insert-link-dialog .dialog-page-body .search-panel.has-breadcrumbs {
    height: 426px;
}
#insert-link-dialog .dialog-page-body label {
	color: #333;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	padding-right: 10px;
	line-height: 24px;
}
#insert-link-dialog .search-panel label {
    padding: 0;
    width: 7em;
}
#insert-link-dialog .weblink-panel label {
    padding: 0;
    width: 5em;
}
#insert-link-dialog .search-panel .location-info input {
    width: 482px;
}
#insert-link-dialog .recently-viewed-panel .location-info input,
#insert-link-dialog .attachments-panel .location-info input,
#insert-link-dialog .weblink-panel input {
    width: 486px;
}
#insert-link-dialog h2.dialog-title {
	height: 44px;
	line-height: 44px;
}

#insert-link-dialog .loading-data .spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -73px;
}

#insert-link-dialog .message-panel {
	color: #333;
	font-size: 13px;
	padding: 10px;
}

#insert-link-dialog .button-panel-message {
	color: #666;
	display: inline;
	font-size: 12px;
	float: left;
    max-width: 77%; /* No wider or it breaks with long messages, eg. when language set to French */
	padding-left: 1.5em;
	padding-top: 5px;
    text-align: left;
}

#insert-link-dialog form.aui legend {
	display: block;
	min-height: 2em;
	padding: 0;
}
#insert-link-dialog form.aui legend span {
	left: 0;
	line-height: normal;
	position: relative;
	text-align: left;
	top: 0;
	width: 100%;
}
#insert-link-dialog .aui .input-field div {
	padding: 0;
}
#insert-link-dialog form.aui button {
    margin: 0;
}
#insert-link-dialog .weblink-panel,
#insert-link-dialog .attach-file-form,
#insert-link-dialog .search-panel .search-form{
	padding: 10px
}
#insert-link-dialog .search-results,
#insert-link-dialog .data-table {
	clear: both;
	overflow-y: auto;
	height: 376px;
	overflow-x: hidden;
}

#insert-link-dialog #recently-viewed-table {
	height: 456px;
}

#insert-link-dialog .aui .attach-file-form legend {
	display: block;
	width: 100%;
}

#insert-link-dialog .aui .attach-file-form legend span {
	display: block;
	width: 100%;
	position: relative;
}

#insert-link-dialog .attachments-panel .attach-file-description {
	width: 100%;
}

#insert-link-dialog .attach-file-form div.input-field {
	display: inline;
	margin: 0;
	padding: 0;
}

#insert-link-dialog .attach-file-form #attachfile-label {
	left: 0;
	margin: 0;
	text-align: left;
}

#insert-link-dialog .attach-file-form button {
    margin-right: 10px;
}
#insert-link-dialog .attach-file-form {
    color: #333;
    font-size: 13px;
}
#insert-link-dialog .search-panel .search-input {
	display: inline;
	padding: 0;
}
#insert-link-dialog .search-panel .search-input input {
	margin-right: 10px;
	width: 315px;
	float: left;
}
#insert-link-dialog .search-panel .search-input .aui-dd-parent {
	position: absolute;
    left: 0;
	top: 25px;
	width: 310px;
}
#insert-link-dialog .search-panel .search-space {
	margin-right: 10px;
	width: 130px; /* no wider or it breaks with long messages, eg. when language set to French */
    float: left;
}
#insert-link-dialog .weblink-panel .input-field {
	margin: 0 0 10px 0;
}
#insert-link-dialog a.content-type-user span {
	background-image: url(user_16-2.gif)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/3.5.9/_/images/icons/user_16.gif*/;
	background-repeat: no-repeat;
}

/* breadcrumbs */
#insert-link-dialog .breadcrumbs {
	float: left;
	font-size: 0.85em;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
#insert-link-dialog .breadcrumbs a,
#insert-link-dialog .breadcrumbs a:link,
#insert-link-dialog .breadcrumbs a:visited,
#insert-link-dialog .breadcrumbs a:hover,
#insert-link-dialog .breadcrumbs a:active {
    color: #333;
}
#insert-link-dialog .breadcrumbs li {
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#insert-link-dialog .breadcrumbs span {
	background: transparent
		url(grey_breadcrumbs_indicator-1.png)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/3.5.9/_/images/decoration/grey_breadcrumbs_indicator.png*/
		no-repeat scroll right 50%;
	line-height: 24px;
	margin-right: 4px;
	padding-right: 8px;
	font-size: 0.85em;
}

#insert-link-dialog .breadcrumbs .last span {
	background: transparent none no-repeat scroll left 50%;
	padding-left: 20px;
	padding-right: 0;
    display: inline-block;
    line-height: 24px;
}

#insert-link-dialog .breadcrumbs a.content-type-page span {
	background-image: url(docs_16-1.gif)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/3.5.9/_/images/icons/docs_16.gif*/;
	background-repeat: no-repeat;
}

#insert-link-dialog .breadcrumbs a.content-type-blogpost span {
	background-image: url(blogentry_16-1.gif)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/3.5.9/_/images/icons/blogentry_16.gif*/;
	background-repeat: no-repeat;
}

#insert-link-dialog .breadcrumbs a.content-type-spacedesc span {
	background-image: url(web_16-1.gif)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/3.5.9/_/images/icons/web_16.gif*/;
	background-repeat: no-repeat;
}

#insert-link-dialog .breadcrumbs a.content-type-attachment span {
	background-image: url(file-1.gif)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/3.5.9/_/images/icons/attachments/file.gif*/;
	background-repeat: no-repeat;
}

#insert-link-dialog .breadcrumbs a.content-type-userinfo span {
	background-image: url(user_16-2.gif)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/3.5.9/_/images/icons/user_16.gif*/;
	background-repeat: no-repeat;
}

#insert-link-dialog .breadcrumbs a.content-type-personalspacedesc span {
	background-image: url(personal_space_16-1.gif)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/3.5.9/_/images/icons/personal_space_16.gif*/;
	background-repeat: no-repeat;
}
#insert-link-dialog .breadcrumbs-container {
	height: 24px;
	overflow: hidden;
	width: 480px;
}

#insert-link-dialog .breadcrumbs-line {
	width: 10000px;
}
#editor-insert-link span {
    background-position: 0 0;
}

#insert-link-dialog .data-table th,
#insert-link-dialog .data-table td {
    white-space: normal;
    word-wrap: break-word;
    vertical-align: top;
    padding-right: 1%;
}

#insert-link-dialog .data-table .title-field span {
    height: auto;
    background-position: 0 4px;
    line-height:1.3;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

#insert-link-dialog .data-table .title-field {
    width: 50%;
}

#insert-link-dialog .data-table .space-field {
    width: 25%;
}

#insert-link-dialog .data-table .last-modified-field {
    width: 25%;
}

#insert-link-dialog #attachments-table .size-field {
    width: 10%;
}
#insert-link-dialog #attachments-table .comments-field {
    width: 40%;
}

#insert-link-dialog .upload-field {
    height: 40px;
    line-height: 40px;
}

#insert-link-dialog .upload-in-progress {
    background: url(wait-4.gif)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/3.5.9/_/images/icons/wait.gif*/ no-repeat left 50%;
    padding-left: 24px;
}

#insert-link-dialog .warning {
    background: url(warning-4.gif)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/3.5.9/_/images/icons/emoticons/warning.gif*/ no-repeat left 50%;
    line-height: 20px;
    padding-left: 24px;
    white-space: nowrap;
}

#insert-link-dialog .warning ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
