.ajs-menu-bar .ajs-button a.share span{background-image:url(share.png)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/1.8/_/download/batch/com.atlassian.confluence.plugins.share-page:mail-page-resources/images/share.png*/;}
#inline-dialog-shareContentPopup .contents{overflow:visible;}
form.share-content-popup fieldset{margin-top:3px;margin-bottom:1px;}
.share-content-popup .button-panel{border-top:1px solid #EEE;padding:9px 10px 9px;text-align:right;}
.share-content-popup .button-panel input:disabled{color:graytext;}
form.share-content-popup .textarea{height:60px;padding-left:3px;padding-right:3px;}
.share-content-popup .button{margin:2px 0 2px 2px;}
.share-content-popup ol{margin:7px 0 7px 0;padding:0;list-style-type:none;}
.share-content-popup ol li{margin:4px 0;}
.share-content-popup ol li img{height:1.72em;vertical-align:middle;width:1.72em;}
.progress-messages{left:10px;position:absolute;}
.share-content-popup .done{background:url(tick.png)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/1.8/_/download/batch/com.atlassian.confluence.plugins.share-page:mail-page-resources/images/tick.png*/ no-repeat;}
.share-content-popup .error{background:url(warning.gif)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/1.8/_/images/icons/emoticons/warning.gif*/ no-repeat;}
.share-content-popup .autocomplete li.active a span{color:white;}
.share-page-progress{position:absolute;background-color:white;z-index:1;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.share-page-progress-container-inner{position:absolute;text-align:center;}
.share-content-popup .remove-recipient{float:right;background:url(trash_16.gif)/*tpa=http://10.20.160.198/wiki/s/en/2166/34/1.8/_/images/icons/trash_16.gif*/ no-repeat 50% 50%;text-indent:-9999px;height:24px;width:24px;cursor:pointer;}
.share-content-popup .aui-dd-parent,#com-atlassian-confluence .share-content-popup .aui-dd-parent .aui-dropdown{width:259px;}
form.aui .share-page-progress-container-inner p{margin:0;padding-bottom:0;}
form.aui fieldset{padding:8px 8px 8px 12px;margin:0 auto;}
.aui-inline-dialog .contents .share-content-popup .submit{text-align:center;}
