
#insert-link-dialog .search-results,
#insert-link-dialog .data-table {
    _width: 588px;
    *height: 377px;
    _height: 375px;
}

#insert-link-dialog #search-panel-space {
    padding-top: 3px;
    *padding-top: 0;
}

#insert-link-dialog .search-input {
    float: left;
}
#insert-link-dialog .search-panel .search-input .aui-dd-parent {
    top: 24px;
}
#insert-link-dialog form.aui legend {
    height: 2em;
}

/* reduce width to allow for IE box model and 1% padding-right */
#insert-link-dialog .data-table table {
    width: 99%;  /* IE8+ */
    *width: 97%; /* IE7 */
    _width: 99%; /* IE6 */   
}
#insert-link-dialog .data-table .title-field {
    width: 49%;
}
#insert-link-dialog .data-table .space-field {
    width: 24%;
}
#insert-link-dialog .data-table .last-modified-field {
    width: 24%;
}
#insert-link-dialog #attachments-table .size-field {
    width: 9%;
}
#insert-link-dialog #attachments-table .comments-field {
    width: 39%;
}
#insert-link-dialog .search-panel .search-input input {
	width: 300px;
}
#insert-link-dialog .search-panel .search-input .aui-dd-parent {
	width: 308px;
}
#insert-link-dialog .search-panel .search-input .aui-dropdown {
	width: 304px;
}
