/* Confluence specific styles for aui forms - be very careful about what you override! */
form.aui .error {
    background-color: transparent;
}

.confluence-form fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.confluence-form label {
    color: inherit;
    font-weight: inherit;
}


/* CONF-19797 temporary fix - TODO: remove this after upgrade to AUI 3.0.7 */
#com-atlassian-confluence form.aui .buttons-container .buttons {
    padding:0 0 5px 140px;
}
#com-atlassian-confluence form.aui.long-label .buttons-container .buttons {
    padding:0 0 5px 250px;
}
#com-atlassian-confluence form.aui.top-label .buttons-container .buttons {
    padding: 0 0 5px 0;
}
#com-atlassian-confluence form.aui .buttons-container.right .buttons {
    padding: 0 5px 5px 0;
}
#com-atlassian-confluence form.aui .buttons-container.left .buttons {
    padding: 0 5px 5px 0;
}
/* CONF-19797 end temporary fix CONF-19797 */

#com-atlassian-confluence form.aui {
    font-family: inherit; /* AUI shouldn't be specifying fonts, fall back to body */
}
