
/* Custom styles for Confluence (included for all themes by default) */

#footer p.license, #footer p.license a {
    background: none repeat scroll 0 0 #8F4E0B;
    color: #FFFFFF;
    margin: 0;
}


/* End custom styles for Confluence */


