@import '../../variables.scss';
.button {
    box-sizing: border-box;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    min-width: 140px;
    padding: 0 12px;
    font-family: Avenir-Heavy;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    &-primary {
      color: $brandColor;
      background: #fff;
    }
    &-normal {
      background: transparent;
      border: 1px solid #fff;
    }
  }