.list-menu{
    display: flex;
    background: #f7f7f7;
    border-radius: 5px;
    padding: 10px 0;
    justify-content: space-around;
    color: #205D67;
    width: 80%;
}

.list-menu li{
    list-style: none;
}

.list-menu li:hover > ul{
    box-shadow: 0 0 10px #ccc;
    display: block;
}

.list-menu li ul{
    position: absolute;
    display: none;
    background: #fff;
    border:1px #f7f7f7 solid;
    border-radius: 5px;
    width: 10%;
    margin: 0;
    padding: 0;
    color:#205D67;
    font-size: 0.9rem;
}

.list-menu li ul a{
    text-decoration: none;
    color:#205D67;
}

.list-menu li ul a li{
    line-height: 30px;
    padding-left:10%;
    box-sizing: border-box;
    width: 100%;
}

.list-menu li ul a li:hover{
    background: #f7f7f7;
    cursor: pointer;
}