<!-- Home page -->
{% if nav_item.is_homepage or nav_item.url == "index.html" %}
  <li class="md-tabs__item">
    {% if not page.ancestors | length and nav | selectattr("url", page.url) %}
      <a
        href="{{ nav_item.url | url }}"
        class="md-tabs__link md-tabs__link--active"
      >
        {{ nav_item.title }}
      </a>
    {% else %}
      <a href="{{ nav_item.url | url }}" class="md-tabs__link">
        {{ nav_item.title }}
      </a>
    {% endif %}
  </li>

<!-- Main navigation item with nested items -->
{% elif nav_item.children and nav_item.children | length > 0 %}
  {% set title = title | default(nav_item.title) %}
  {% if nav_item.title == config.extra.docs_key %}
    <li class="md-tabs__item">{{nav_item.title}}
      <ul class="md-tabs__list">
        {% for versions_nav_item in nav_item.children %}
          {% set versions_title = versions_title | default(versions_nav_item.title) %}
          <!-- Recurse, if the first item has nested items -->
          {% if (versions_nav_item.children | first).children %}
            {% set nav_item = versions_nav_item.children | first %}
            {% include "partials/tabs-item.html" %}
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% else %}
    <!-- Recurse, if the first item has nested items -->
    {% if (nav_item.children | first).children %}
    {% set nav_item = nav_item.children | first %}
    {% include "partials/tabs-item.html" %}

    <!-- Render item -->
    {% else %}
    <li class="md-tabs__item">
      {% if nav_item.active %}
      <a
              href="{{ (nav_item.children | first).url | url }}"
              class="md-tabs__link md-tabs__link--active"
      >
        {% if title == config.extra.docs_key %} {{versions_title}} {% else %} {{ title }} {% endif %}
      </a>
      {% else %}
      <a
              href="{{ (nav_item.children | first).url | url }}"
              class="md-tabs__link"
      >
        {% if title == config.extra.docs_key %} {{versions_title}} {% else %} {{ title }} {% endif %}
      </a>
      {% endif %}
    </li>
    {% endif %}
  {% endif %}
{% endif %}
