#language {
  width: 1016px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(180deg, #E9E3F8 0%, rgba(233, 227, 248, 0) 100%); */
  h3 {
      font-size: 1rem;
    }
  
    @media only screen and (min-width: 768px) {
      h3 {
        font-size: 1.5rem;
      }
    }
}

#language .language-content {
  height: 30vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 41px;
}

#language .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  color: #121717;
  box-shadow: 0px 4px 10px 0px rgba(54, 50, 114, 0.1);
  font-size: 12px;
}
#language .language-content .language-card {
  width: 32%;
  min-width: 300px;
  height: 120px;
  margin-bottom: 12px;
  border-radius: 4px;
  padding: 8px;
  background-color: #fff;
}

#language .language-content .language-card .card-title{
    color: #222 !important;
    margin-bottom: 0px;
    margin-left: 12px;
}

#language .language-content .language-card .card-img {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-go {
  width: 100px;
}

.language-card-more{
    color: #222;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
