@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";

@import "../vendor/bootstrap/scss/bootstrap";

@import "../vendor/Font-Awesome/scss/fontawesome.scss";
@import "../vendor/Font-Awesome/scss/solid.scss";
@import "../vendor/Font-Awesome/scss/brands.scss";

@import "support/utilities";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "breadcrumb";
@import "alerts";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";
@import "taxonomy";

@if $td-enable-google-fonts {
    @import url("/css/open-sans.css");
}

footer {
    min-height: 150px;

    @include media-breakpoint-down(md) {
         min-height: 200px;
    }
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
    .td-offset-anchor:target {
        display: block;
        position: relative;
        top: -4rem;
        visibility: hidden;
    }

    h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
        display: block;
        content: " ";
        margin-top: -5rem;
        height: 5rem;
        visibility: hidden;
    }
}

.o-lang-home__list {
    & h4 {
        margin-bottom: 0.75rem;
    }

    & ul {
        padding-left: 0.25rem;
        padding-bottom: 0.5rem;
        list-style: none;
    }

    & li {
        padding-bottom: 0.25rem;
    }
}

.msemap-section{
    .msemap-container{
        h3{
            font-family: Avenir-Medium;
            font-weight: 700;
            font-size: 36px;
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }
        #mse-arc-container{
            height: 700px !important;
        }
    }
}

@import "styles_project";
@import "skin";
@import "base";
@import "case-studies";
@import "custom";
@import "tablet";
@import "desktop";
@import "reset";
@import "size";