<div id="notification" style="display:none; position:fixed; top:20px; left:50%; transform:translateX(-50%); 
    background-color: #dff4e5; padding: 10px 15px; border-radius: 5px; z-index: 1000;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#1e8e3e" class="bi bi-check-circle-fill mr-2" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>Submitted successfully!
</div>
<section class="overview-demo-section">
  <div class="container-demo">
    <div class="container-demo-title">
      <div class="demo-title-mall">DEMO</div>
      <div class="demo-des-mall">We provide a fully functional e-commerce mall system developed using Dubbo. The mall
        system consists of 11 microservice applications. The underlying layer uses triple rpc protocol for
        communication. Users can access the mall through the frontend web service for browsing, shopping cart, ordering,
        etc.</div>
    </div>
  </div>
  <div class="demo-container-middle">
    <div class="demo-subject">
      <div class="demo-subject-left">
        <div class="demo-subject-left-title">You can also register your personal information here and contact the
          community engineer, and we will send you the complete sample source code by email :</div>
        <div class="demo-subject-left-from">
          <label for="demoCompany" class="form-label">Company Name</label>
          <input type="company" class="form-control" id="demoCompany" placeholder="Alibaba" autocomplete="off">
        </div>
        <div class="row demo-subject-left-from">
          <div class="col" style="padding-left: 0px;">
            <label for="demoFirstName" class="form-label demoName">First Name</label>
            <input type="name" class="form-control" id="demoFirstName" placeholder="John" autocomplete="off">
          </div>
          <div class="col" style="padding: 0px;">
            <label for="demoLastName" class="form-label demoName">Last Name</label>
            <input type="name" class="form-control" id="demoLastName" placeholder="Doe" autocomplete="off">
          </div>
        </div>
        <div class="demo-subject-left-from">
          <label for="demoEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="demoEmail" placeholder="john.doe@alibaba.com" autocomplete="off">
        </div>
        <div class="demo-subject-left-from">
          <label for="demoPosition" class="form-label">Job Title</label>
          <input type="position" class="form-control" id="demoPosition" placeholder="Software engineer" autocomplete="off">
        </div>
        <div class="demo-subject-left-from">
          <label for="demoSize" class="form-label">Company Size</label>
          <div class="demoSize-radio">
            <input type="radio" class="btn-check" name="options-outlined" id="demoSize1" value="1-100" autocomplete="off" checked>
            <label class="demoSize-radio-btn" for="demoSize1">1-100</label>

            <input type="radio" class="btn-check" name="options-outlined" id="demoSize2" value="101-2k" autocomplete="off">
            <label class="demoSize-radio-btn" for="demoSize2">101-2k</label>

            <input type="radio" class="btn-check" name="options-outlined" id="demoSize3" value="2k+" autocomplete="off">
            <label class="demoSize-radio-btn" for="demoSize3">2k+</label>

          </div>
        </div>
        <button class="demo-form-submit-btn" id="submitButton">Submit</button>
      </div>
      <div class="demo-subject-right">
        <div class="demo-subject-right-des">You can visit <a href="">xxx.com</a> to experience the online mall we have deployed. If you
          want to know the source code and implementation details, you can jump to github to view the source code. We
          provide source code implementation in <a href="">Java</a> and <a href="">Go</a>.</div>
        <div class="demo-subject-right-img"></div>
      </div>
    </div>
  </div>
</section>
<style>
  .overview-demo-section {
    padding: 0px;
    margin-top: 64px;
    background-color: #F4F4F6;
  }

  .container-demo {
    width: 100%;
    height: 270px;
    background-image: url('https://img.alicdn.com/imgextra/i4/O1CN0142n9L01PpfYFAXEM8_!!6000000001890-0-tps-2880-600.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 24px;
    @media only screen and (min-width: 768px) {
      padding: 0px;
      height: 300px;
    }
  }

  .container-demo-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;

    @media only screen and (min-width: 768px) {
      width: 100%;
      padding-top: 68px;
      padding-bottom: 100px;
    }

    @media only screen and (min-width: 1100px) {
      width: 1016px;
    }
  }

  .demo-title-mall {
    font-size: 36px;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: #121316;
    margin-bottom: 28px;
    @media only screen and (min-width: 768px) {
      font-size: 56px;
    }
  }

  .demo-des-mall {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    @media only screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  .demo-container-middle {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: center;
    @media only screen and (min-width: 768px) {
      padding: 0px;
    }
  }

  .demo-subject {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block ;

    @media only screen and (min-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 122px;
      margin-bottom: 141px;
    }

    @media only screen and (min-width: 1100px) {
      width: 1016px;
    }

  }

  .demo-subject-left,
  .demo-subject-right {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 32px;
    padding: 24px;
    @media only screen and (min-width: 768px) {
      width: 500px;
    }
  }

  .demo-subject-left {
    margin-bottom: 16px;
    height: 734px;
    @media only screen and (min-width: 768px) {
      margin-right: 16px;
      margin-bottom: 0px;
    }
  }
  .demo-subject-right{
    height: 668px;
    @media only screen and (min-width: 768px) {
      height: 734px;
    }
  }

  .demo-subject-left>*>label {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
    color: #2E3038;
  }

  .demo-subject-left>*>input {
    width: 100%;
    height: 48px;
    border-radius: 24px;
    background-color: #F4F4F6;
    border: none;
    padding-left: 30px;
    @media only screen and (min-width: 768px) {
      width: 452px;
    }
  }

  .demo-subject-left-title,
  .demo-subject-right-des {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0em;
    margin-bottom: 20px;
  }
  .demo-subject-right-des>a{
    color: #724DE9;
  }

  .demoSize-radio>input {
    display: none;
  }
  .demoName{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
    color: #2E3038;
  }
  .demoName+input{
    height: 48px;
    border-radius: 24px;
    background-color: #F4F4F6;
    border: none;
    padding-left: 30px;
  }

  .demoSize-radio-btn {
    width: 95px;
    height: 48px;
    border-radius: 24px;
    color: #A3A6B3;
    font-size: 16px;
    padding: 10px 22px;
    background-color: #F4F4F6;
    cursor: pointer;
    @media only screen and (min-width: 768px) {
      width: 140px;
      padding: 10px 44px;
    }
  }

  .demoSize-radio-btn:nth-child(2),
  .demoSize-radio-btn:nth-child(4) {
    margin-right: 10px;
  }

  /* 当radio被选中时，背景色变为黑色 */
  .btn-check:checked+.demoSize-radio-btn {
    background-color: black;
  }

  /* 选中时字体颜色变为白色 */
  .btn-check:checked+.demoSize-radio-btn {
    color: #F4F4F6;
  }

  .demo-form-submit-btn {
    width: 100%;
    height: 48px;
    border-radius: 24px;
    background: #724DE9;
    border: none;
    color: #F4F4F6;
    font-size: 14px;
    @media only screen and (min-width: 768px) {
      width: 452px;
    }
  }
  .demo-subject-left-from{
    margin-bottom: 16px;
    @media only screen and (min-width: 768px) {
      margin-bottom: 24px;
    }
  }

  .demo-subject-right-img {
    width: 100%;
    height: 432px;
    margin-left: 0px;
    background-image: url('https://img.alicdn.com/imgextra/i1/O1CN01MjbeAM1DdVeB0Uymn_!!6000000000239-2-tps-886-1207.png');
    background-size: cover;
    border: 2px dashed #D8D8D8;
    @media only screen and (min-width: 768px) {
      width: 402px;
      margin-left: 26px;
      background-size: cover;
      height: 557px;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    async function sendFetch(url) {
      return new Promise(async (resolve, reject) => {
        try {
          const response = await fetch(url, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
            },
            mode: 'cors'
          });
          response.json().then(res => {
            resolve(res);
          }).catch(error => {
            error.message === "Unexpected end of JSON input" ? resolve({}) : reject(error);
          });
        } catch (error) {
          console.dir(error);
          reject(error);
        }
      });
    }

    async function handleSubmit() {
      const companyName = document.getElementById("demoCompany").value;
      const firstName = document.getElementById("demoFirstName").value;
      const lastName = document.getElementById("demoLastName").value;
      const email = document.getElementById("demoEmail").value;
      const job = document.getElementById("demoPosition").value;
      const sizeOptions = document.getElementsByName("options-outlined");
      let companySize;

      for (const option of sizeOptions) {
        if (option.checked) {
          companySize = option.value;
          break;
        }
      }

      let url = "https://dubbo-website-feedback.cn-hangzhou.log.aliyuncs.com/logstores/feedback/track?APIVersion=0.6.0&companyName=" + encodeURIComponent(companyName) +
        "&name=" + encodeURIComponent(firstName) + encodeURIComponent(lastName) +
        "&email=" + encodeURIComponent(email) +
        "&job=" + encodeURIComponent(job) +
        "&companySize=" + encodeURIComponent(companySize);


      try {
        const res = await sendFetch(url);
        // 清空输入框与复选框
        document.getElementById("demoCompany").value = '';
        document.getElementById("demoFirstName").value = '';
        document.getElementById("demoLastName").value = '';
        document.getElementById("demoEmail").value = '';
        document.getElementById("demoPosition").value = '';

        for (const option of sizeOptions) {
          option.checked = false;
        }
        document.getElementById("demoSize1").checked = true;

        // 显示通知
        const notification = document.getElementById("notification");
        notification.style.display = "block";
        setTimeout(() => {
          notification.style.display = "none";
        }, 1000);
      } catch (error) {
        console.error('Error during fetch:', error);
      }
    }

    // 添加事件监听器
    document.getElementById('submitButton').addEventListener('click', handleSubmit);
  });
</script>