{{ range $.Site.Data.download }}
<section class="home--top-section">
  <div class="float-left">
    <h2 id="{{ .type -}}" class="mt-5">{{ .title }}</h2>
  </div>
  <table class="table table-secondary">
  <thead>
  <tr>
    <th><b>Name</b></th>
    <th><b>Description</b></th>
    <th><b>Changelog</b></th>
    <th><b>Archive</b></th>
  </tr>
  </thead>
  <tbody>
  {{ range .list -}}
  <tr>
    <td>{{ .name }}</td>
    <td style="text-align:left;">{{ .description }}</td>
    <td><a href="{{ .changelog }}">changelog<a href="{{ .archive -}}"></td>
    <td>
      <ul style="padding:0; margin:0; text-align:left; list-style-type:none;">
        <li class="mb-1"><a href="{{ .archive -}}">SOURCE</a></li>
        <li class="mb-1"><a href="{{ .hash -}}">SHA-512</a></li>
        <li class="mb-1"><a href="{{ .signature -}}">ASC</a></li>
      </ul>
    </td>
  </tr>
  {{- end }}
  </tbody>
</table>
</section>
{{- end -}}