{{ range $.Site.Data.download.en }}
<section class="home--top-section">
    <div class="float-left">
        <h3 id="{{ .type -}}" class="mt-5">{{ .title }}</h3>
    </div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th style="width: 20%"><b>Version</b></th>
            <th style="width: 40%"><b>Description</b></th>
            <th style="width: 20%"><b>Change log</b></th>
            <th style="width: 20%"><b>Archive</b></th>
        </tr>
        </thead>
        <tbody>
        {{ range .list -}}
        <tr class="text-center" style="vertical-align: middle">
            <td style="vertical-align: middle">{{ .name }}</td>
            <td style="text-align:left;vertical-align: middle">{{ .description }}</td>
            <td style="vertical-align: middle"><a href="{{ .changelog }}">Github Release Note</a></td>
            <td style="vertical-align: middle">
                <ul style="padding:0; margin:0; list-style-type:none;">
                    <li class="mb-1"><a href="{{ .archive -}}">Source code</a></li>
                    <li class="mb-1"><a href="{{ .hash -}}">SHA-512 Checksum</a></li>
                    <li class="mb-1"><a href="{{ .signature -}}">ASC Signature</a></li>
                </ul>
            </td>
        </tr>
        {{- end }}
        </tbody>
    </table>
</section>
{{- end -}}
