{{ range $.Site.Data.download.zh }}
<section class="home--top-section">
    <div class="float-left">
        <h3 id="{{ .type -}}" class="mt-5">{{ .title }}</h3>
    </div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th style="width: 20%"><b>版本号</b></th>
            <th style="width: 40%"><b>说明</b></th>
            <th style="width: 20%"><b>变更内容</b></th>
            <th style="width: 20%"><b>下载链接</b></th>
        </tr>
        </thead>
        <tbody>
        {{ range .list -}}
        <tr class="text-center" style="vertical-align: middle">
            <td style="vertical-align: middle">{{ .name }}</td>
            <td style="text-align:left;vertical-align: middle">{{ .description }}</td>
            <td style="vertical-align: middle"><a href="{{ .changelog }}">Github Release Note</a></td>
            <td style="vertical-align: middle">
                <ul style="padding:0; margin:0; list-style-type:none;">
                    <li class="mb-1"><a href="{{ .archive -}}">源码下载</a></li>
                    <li class="mb-1"><a href="{{ .hash -}}">SHA-512 校验</a></li>
                    <li class="mb-1"><a href="{{ .signature -}}">ASC 签名</a></li>
                </ul>
            </td>
        </tr>
        {{- end }}
        </tbody>
    </table>
</section>
{{- end -}}
