{{ range $.Site.Data.download.en }}
<section class="home--top-section">
    <div class="float-left">
        <h3 id="{{ .type -}}" style="margin-top: 5rem !important;">{{ .title }}</h3>
    </div>
    <table class="table table-sm" style="width: 100%;table-layout: auto;border-collapse: collapse;">
        <thead>
        <tr>
            <th><b>Version</b></th>
            <th><b>Description</b></th>
            <th><b>Change log</b></th>
            <th><b>Archive</b></th>
        </tr>
        </thead>
        <tbody>
        {{ range .list -}}
        <tr class="text-center" style="vertical-align: middle">
            <td style="text-align: center;vertical-align: middle;padding: 0.5rem 1rem;">{{ .name }}</td>
            <td style="text-align: center;vertical-align: middle;padding: 0.5rem 1rem;">{{ .description }}</td>
            <td style="text-align: center;vertical-align: middle;padding: 0.5rem 1rem;width: 9rem"><a href="{{ .changelog }}">Github Release Note</a></td>
            <td style="text-align: center;vertical-align: middle;padding: 0.5rem 1rem;width: 12rem">
                <ul style="padding:0; margin:0; list-style-type:none;">
                    <li class="mb-1"><a href="{{ .archive -}}">Source code</a></li>
                    <li class="mb-1"><a href="{{ .hash -}}">SHA-512 Checksum</a></li>
                    <li class="mb-1"><a href="{{ .signature -}}">ASC Signature</a></li>
                </ul>
            </td>
        </tr>
        {{- end }}
        </tbody>
    </table>
</section>
{{- end -}}
