{{- $class := .Get "class" -}}
{{- $style := .Get "style" -}}
{{- $id := .Get "id" | default (printf "section-%d" .Ordinal) -}}
{{- $bg := .Get "background-image" -}}
{{- if $bg -}}
	{{ template "shortcodes-blocks_getimage" (dict "name" $bg "ctx" . "target" "bg") }}
{{- end -}}
{{- $image := $.Scratch.Get "bg" -}}
<section id="{{ $id }}"{{ with $class }} class="{{ . }}"{{ end }}>
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
			{{ if eq .Page.File.Ext "md" }}
				{{ .Inner | markdownify }}
			{{ else }}
				{{ .Inner | htmlUnescape | safeHTML }}
			{{ end }}
		</span>
	</div>
</section>
