
<script src="/js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


{{ $jsBase := resources.Get "js/base.js" }}
{{ $jsAnchor := resources.Get "js/anchor.js" }}
{{ $jsSearch := resources.Get "js/search.js" | resources.ExecuteAsTemplate "js/search.js" .Site.Home }}
{{ if .Site.Params.offlineSearch }}
{{ $jsSearch = resources.Get "js/offline-search.js" }}
{{ end }}
{{ $js := (slice $jsBase $jsAnchor $jsSearch) | resources.Concat "js/main.js" }}
{{ if .Site.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js := $js | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}
{{ with .Site.Params.prism_syntax_highlighting }}
<!-- scripts for prism -->
<script src='/js/prism.js'></script>
{{ end }}

<script async
        src="https://widget.kapa.ai/kapa-widget.bundle.js"
        data-website-id="d763c4f2-f871-400b-aeca-d986c4af73c2"
        data-project-name="Apache Dubbo"
        data-project-color="#E8442E"
        data-button-text="Ask AI"
        data-search-mode-enabled="true"
        data-modal-open-on-command-k="true"
        data-modal-disclaimer="The AI supports multiple languages, but it may not be accessible in China due to recaptcha, a proxy is required."
        data-project-logo="https://pbs.twimg.com/profile_images/1011849068283191302/FJbH5vbF_400x400.jpg"
        data-modal-example-questions="What is Apache Dubbo?,How to run Apache Dubbo?"
        data-button-position-top=""
        data-button-position-right="20px"
        data-button-position-bottom="200px"
        data-button-position-left=""
></script>


{{ partial "hooks/body-end.html" . }}
