
<script src="/js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<!--init performance SDK-->
<script>
  (function (w, d, s, q, i) {
    w[q] = w[q] || [];
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s);
    j.async = true;
    j.id = 'beacon-aplus';
    j.setAttribute('exparams', 'userid=&aplus&sidx=aplusSidex&ckx=aplusCkx');
    j.src = '//g.alicdn.com/alilog/mlog/aplus_v2.js';
    j.crossorigin = 'anonymous';
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'aplus_queue');

  (function (d) {
    var t = d.createElement('script');
    t.type = 'text/javascript';
    t.async = true;
    t.src =
      '//g.alicdn.com/aes/??tracker/3.3.4/index.js,tracker-plugin-pv/3.0.5/index.js,tracker-plugin-event/3.0.0/index.js,tracker-plugin-autolog/3.0.3/index.js,tracker-plugin-survey/3.0.3/index.js,tracker-plugin-jserror/3.0.3/index.js,tracker-plugin-resourceError/3.0.3/index.js';
    t.onload = function () {
      window.AES_CONFIG = window.AES_CONFIG || {
        // 判断当前环境
        env: 'prod',
      };
      window.aes = new AES({
        pid: 'zN245h',
        user_type: 6,
      });
      window.AESPluginAutologConfig = { exposure: 'auto' };
      window.AEMPluginInstances = [
        aes.use(
          AESPluginPV,
          window.AESPluginPVConfig || { enableHistory: true },
        ),
        aes.use(AESPluginEvent, window.AESPluginEventConfig || {}),
        aes.use(AESPluginSurvey, window.AESPluginEventConfig || {}),
        aes.use(AESPluginAutolog, window.AESPluginAutologConfig || {}),
        aes.use(AESPluginJSError, window.AESPluginJSError || {}),
        aes.use(AESPluginResourceError, window.AESPluginResourceError || {}),
      ];
    };
    setTimeout(function () {
      d.getElementsByTagName('body')[0].appendChild(t);
    }, 800);
  })(document);
</script>


{{ $jsSearch := resources.Get "js/search.js" | resources.ExecuteAsTemplate "js/search.js" .Site.Home }}
{{ if .Site.Params.offlineSearch }}
{{ $jsSearch = resources.Get "js/offline-search.js" }}
{{ end }}
{{ $js := (slice $jsSearch) | resources.Concat "js/main.js" }}
{{ if .Site.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js := $js | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}
{{ with .Site.Params.prism_syntax_highlighting }}
<!-- scripts for prism -->
<script src='/js/prism.js'></script>
{{ end }}

<!--init performance SDK -->
<script>
  (function (w, d, s, q, i) {
    w[q] = w[q] || [];
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s);
    j.async = true;
    j.id = 'beacon-aplus';
    j.setAttribute('exparams', 'userid=&aplus&sidx=aplusSidex&ckx=aplusCkx');
    j.src = '//g.alicdn.com/alilog/mlog/aplus_v2.js';
    j.crossorigin = 'anonymous';
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'aplus_queue');

  (function (d) {
    var t = d.createElement('script');
    t.type = 'text/javascript';
    t.async = true;
    t.src =
      '//g.alicdn.com/aes/??tracker/3.3.4/index.js,tracker-plugin-pv/3.0.5/index.js,tracker-plugin-event/3.0.0/index.js,tracker-plugin-autolog/3.0.3/index.js,tracker-plugin-survey/3.0.3/index.js,tracker-plugin-jserror/3.0.3/index.js,tracker-plugin-resourceError/3.0.3/index.js';
    t.onload = function () {
      window.AES_CONFIG = window.AES_CONFIG || {
        // 判断当前环境
        env: 'prod',
      };
      window.aes = new AES({
        pid: 'zN245h',
        user_type: 6,
      });
      window.AESPluginAutologConfig = { exposure: 'auto' };
      window.AEMPluginInstances = [
        aes.use(
          AESPluginPV,
          window.AESPluginPVConfig || { enableHistory: true },
        ),
        aes.use(AESPluginEvent, window.AESPluginEventConfig || {}),
        aes.use(AESPluginSurvey, window.AESPluginEventConfig || {}),
        aes.use(AESPluginAutolog, window.AESPluginAutologConfig || {}),
        aes.use(AESPluginJSError, window.AESPluginJSError || {}),
        aes.use(AESPluginResourceError, window.AESPluginResourceError || {}),
      ];
    };
    setTimeout(function () {
      d.getElementsByTagName('body')[0].appendChild(t);
    }, 800);
  })(document);
</script>


{{ partial "hooks/body-end.html" . }}
