+++
title = "Apache Dubbo 中文"
linkTitle = "Apache Dubbo 官网"
description = "Apache Dubbo 官网"
aliases = ["/zh/"]
+++
{{< blocks/cover title="Apache Dubbo" image_anchor="top" height="min" color="white" >}}
{{< /blocks/cover >}}


{{% blocks/lead color="white" height="min" id="whyDubbo" %}}
<h1 class="font-weight-normal">Why Dubbo?</h1>
{{% /blocks/lead %}}

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="framework" url="./overview/what/advantages/usability/" %}}
#### [快速上手](./overview/what/advantages/usability/)，让开发者专注业务开发

多语言 SDK 定义微服务开发范式，通信协议灵活切换，支持 HTTP/2、gRPC、REST、Thrift、TCP 等任一协议。
{{% /blocks/feature %}}

{{% blocks/feature image="governance" icon="fas fa-share-alt" url="./overview/what/advantages/traffic-management/" %}}
#### [服务治理](./overview/what/advantages/governance/)，实时监测、管控集群状态

内置服务发现、负载均衡、路由等流量管控策略，提供全链路追踪、限流降级、一致性事务、日志、Metrics、服务网格、Admin 可视化控制台等一站式微服务生态。
{{% /blocks/feature %}}

{{% blocks/feature image="performance" icon="fa fa-share-alt" title="Mesh 解决方案" url="./overview/what/advantages/performance/" %}}
#### [超高性能](./overview/what/advantages/performance/)，面向百万实例集群设计

阿里巴巴每年双十一数百万实例、万亿次调用跑在 Dubbo 之上，从设计之初即将低延迟、高吞吐量、可伸缩性放在第一位。
{{% /blocks/feature %}}

{{% blocks/feature image="usecase" icon="fa fa-share-alt" title="Mesh 解决方案" url="./overview/what/advantages/extensibility/" %}}
#### [企业级解决方案](./overview/what/advantages/production-ready/)，多年企业生产环境检验

用户群体遍布各行各业，典型代表包括工商银行、携程、海尔、金蝶、云厂商 (阿里云、腾讯云、华为云) 等，2022年 Dubbo3 在阿里巴巴已全面升级 HSF2 实现了框架统一。
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="dubbo_video_homepage_background" >}}
<div class="light-text">
    <h2>快速掌握基于 Apache Dubbo 的微服务开发与治理</h2>
    <p>By 刘军，Apache Dubbo PMC Chair</p>
    <div id="desktopShowVideoButton" onclick="kub.showVideo()">
        <span class="desktopShowVideoButton-icon"></span>
        <span>观看视频</span>
    </div>
    <a href="./overview/tasks/" button id="desktopKCButton">跟随示例任务学习 Dubbo！</a>
    <a href="./blog/news/" button id="desktopKCButton">探索 Dubbo 生态、社区动态并参与线下活动！</a>
</div>

<div id="videoPlayer">
    <iframe data-url="//player.bilibili.com/player.html?aid=737424422&bvid=BV1YD4y1g7Qk&cid=1024306839&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" frameborder="0" allowfullscreen="true"></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/dubbo-features >}}
