+++
title = "Apache Dubbo 中文"
linkTitle = "Apache Dubbo 官网"
description = "Apache Dubbo 官网"
aliases = ["/zh/"]
+++

{{< blocks/cover title="Apache Dubbo" image_anchor="top" height="min" color="secondary" >}}
<!--<div class="mt-2 mb-3 font-weight-normal">选择编程语言后快速体验!</div>-->

<!--<div class="github-stat-buttons">-->
<!--    &lt;!&ndash; Place this tag where you want the button to render. &ndash;&gt;-->
<!--    <div style="width:130px;float:left;" class="mr-5">-->
<!--    <a class="btn btn-block btn-info mr-3 mb-2 font-weight-normal rounded" href='docs3-v2/java-sdk/home'>-->
<!--        Java-->
<!--    </a>-->
<!--    <a class="github-button" href="https://github.com/apache/dubbo" data-color-scheme="no-preference: dark_high_contrast; light: light_high_contrast; dark: light;"-->
<!--       data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star apache/dubbo on GitHub">Star</a>-->
<!--    </div>-->
<!--    <div style="width:120px;float:left;" class="mr-5">-->
<!--    <a class="btn btn-block btn-info mr-3 mb-2 font-weight-normal rounded" href='docs3-v2/java-sdk/home'>-->
<!--        Go-->
<!--    </a>-->
<!--    <a class="github-button" href="https://github.com/apache/dubbo-go" data-icon="octicon-star"-->
<!--       data-size="large" data-show-count="true" aria-label="Star apache/dubbo-go on GitHub">Star</a>-->
<!--    </div>-->
<!--    <div style="width:130px;float:left;" class="mr-5">-->
<!--    <a class="btn btn-block btn-info mr-3 mb-2 font-weight-normal rounded" href='docs3-v2/java-sdk/home'>-->
<!--        Rust-->
<!--    </a>-->
<!--    <a class="github-button" href="https://github.com/apache/dubbo-rust" data-icon="octicon-star"-->
<!--       data-size="large" data-show-count="true" aria-label="Star apache/dubbo-go on GitHub">Star</a>-->
<!--    </div>-->
<!--    <div style="width:130px;float:left;" class="mr-5">-->
<!--        <a class="btn btn-block btn-info mr-3 mb-2 font-weight-normal rounded" href='docs3-v2/java-sdk/home'>-->
<!--            Node.js-->
<!--        </a>-->
<!--        <a class="github-button" href="https://github.com/apache/dubbo-rust" data-icon="octicon-star"-->
<!--           data-size="large" data-show-count="true" aria-label="Star apache/dubbo-go on GitHub">Star</a>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="mx-auto">-->
<!--    <p class="display-4 lead font-weight-light">一款易用的、具备高性能 RPC 通信及服务治理能力的微服务开发框架</p>-->
<!--</div>-->
{{< /blocks/cover >}}

<div id="language">
    <h1 class="font-weight-normal">选择编程语言后快速体验!</h1>
    <div class="language-content">
        <a class="language-card" href='overview/mannual/java-sdk'>
            <div class="card-title">Java</div>
            <div class="card-img">
                <img src="/imgs/language/java.png" alt="java">
            </div>
        </a>
        <a class="language-card" href='overview/mannual/golang-sdk'>
            <div class="card-title">Go</div>
            <div class="card-img img-go">
                <img src="/imgs/language/go.png" alt="golang" >
            </div>
        </a>
        <a class="language-card" href='overview/mannual/rust-sdk'>
            <div class="card-title">Rust</div>
            <div class="card-img">
                <img src="/imgs/language/rust.png" alt="rust">
            </div>
        </a>
        <a class="language-card" target="_blank" href='https://github.com/apache/dubbo-js'>
            <div class="card-title">Node.js</div>
            <div class="card-img">
                <img src="/imgs/language/node.png" alt="node.js">
            </div>
        </a>
        <a class="language-card" target="_blank" href='https://github.com/apache/dubbo-python2'>
            <div class="card-title">Python</div>
            <div class="card-img">
                <img src="/imgs/language/python.png" alt="python2">
            </div>
        </a>
        <a class="language-card" href='overview/mannual/dubbo-go-pixiu'>
            <div class="language-card-more"> 更多</div>
        </a>
    </div>


</div>

{{% blocks/lead color="white" height="min" id="whyDubbo" %}}
<h1 class="font-weight-normal">Why Dubbo?</h1>
<!--<p class="font-weight-light">-->
<!--    Apache Dubbo 首先是一款 rpc 框架，通过可扩展的传输协议（二进制、基于 HTTP/2 的流式通信、HTTP+JSON 等）为微服务组件提供高性能通信，并通过 SDK 为每种语言提供易于使用的微服务配置、API 与编程范式。孵化于阿里巴巴电商应用场景，Dubbo 核心架构充分考虑了超大规模微服务集群实践诉求，历经众多行业标杆企业生产级流量考验，其构建的企业级微服务治理能力如服务发现、流量治理、可观测、认证鉴权、Service Mesh部署方案可以很好的解决企业微服务实践问题。-->
<!--</p>-->
<!--<p class="font-weight-light">-->
<!--    Apache Dubbo 是一款支持多语言的、易用的 web 和 rpc 框架，同时为构建企业级微服务提供服务发现、流量治理、可观测、认证鉴权等能力、工具与最佳实践。-->
<!--</p>-->
{{% /blocks/lead %}}

<!--{{% blocks/lead color="white" height="min" id="whyDubbo2" %}}-->
<!--<h2>Why Dubbo?</h2>-->
<!--&lt;!&ndash;<br/>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="font-weight-light">&ndash;&gt;-->
<!--&lt;!&ndash;    Apache Dubbo 首先是一款 rpc 框架，通过可扩展的传输协议（二进制、基于 HTTP/2 的流式通信、HTTP+JSON 等）为微服务组件提供高性能通信，并通过 SDK 为每种语言提供易于使用的微服务配置、API 与编程范式。孵化于阿里巴巴电商应用场景，Dubbo 核心架构充分考虑了超大规模微服务集群实践诉求，历经众多行业标杆企业生产级流量考验，其构建的企业级微服务治理能力如服务发现、流量治理、可观测、认证鉴权、Service Mesh部署方案可以很好的解决企业微服务实践问题。&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="font-weight-light">&ndash;&gt;-->
<!--&lt;!&ndash;    gRPC is a modern open source high performance Remote Procedure Call (RPC) framework that can run in any environment. It can efficiently connect services in and across data centers with pluggable support for load balancing, tracing, health checking and authentication. It is also applicable in last mile of distributed computing to connect devices, mobile applications and browsers to backend services.&ndash;&gt;-->
<!--&lt;!&ndash;    <a href='{{< relref "/users/" >}}'>用户案例</a>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--{{% /blocks/lead %}}-->

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="framework" url="./overview/what/advantages/usability/" %}}
#### [快速上手](./overview/what/advantages/usability/)，让开发者专注业务开发

多语言 SDK 定义微服务开发范式，通信协议灵活切换，支持 HTTP/2、gRPC、REST、Thrift、TCP 等任一协议。
{{% /blocks/feature %}}

{{% blocks/feature image="governance" icon="fas fa-share-alt" url="./overview/what/advantages/traffic-management/" %}}
#### [服务治理](./overview/what/advantages/governance/)，实时监测、管控集群状态

内置服务发现、负载均衡、路由等流量管控策略，提供全链路追踪、限流降级、一致性事务、日志、Metrics、服务网格、Admin 可视化控制台等一站式微服务生态。
{{% /blocks/feature %}}

{{% blocks/feature image="performance" icon="fa fa-share-alt" title="Mesh 解决方案" url="./overview/what/advantages/performance/" %}}
#### [超高性能](./overview/what/advantages/performance/)，面向百万实例集群设计

阿里巴巴每年双十一数百万实例、万亿次调用跑在 Dubbo 之上，从设计之初即将低延迟、高吞吐量、可伸缩性放在第一位。
{{% /blocks/feature %}}

{{% blocks/feature image="usecase" icon="fa fa-share-alt" title="Mesh 解决方案" url="./overview/what/advantages/extensibility/" %}}
#### [企业级解决方案](./overview/what/advantages/production-ready/)，多年企业生产环境检验

用户群体遍布各行各业，典型代表包括工商银行、携程、海尔、金蝶、云厂商 (阿里云、腾讯云、华为云) 等，2022年 Dubbo3 在阿里巴巴已全面升级 HSF2 实现了框架统一。
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="dubbo_video_homepage_background" >}}
<div class="light-text">
    <h2>快速掌握基于 Apache Dubbo 的微服务开发与治理</h2>
    <p>By 刘军，Apache Dubbo PMC Chair</p>
    <div id="desktopShowVideoButton" onclick="kub.showVideo()">
        <span class="desktopShowVideoButton-icon"></span>
        <span>观看视频</span>
    </div>
    <a href="./overview/tasks/" button id="desktopKCButton">跟随示例任务学习 Dubbo！</a>
    <a href="./blog/news/" button id="desktopKCButton">探索 Dubbo 生态、社区动态并参与线下活动！</a>
</div>

<div id="videoPlayer">
    <iframe data-url="//player.bilibili.com/player.html?aid=598998096&bvid=BV1vB4y1C7wL&cid=787938568&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" frameborder="0" allowfullscreen="true"></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/dubbo-features >}}

<div id="resources" class="community-section">
    <h2>关注社区</h2>

    <p class="community-simple">请通过以下任一或多个渠道关注社区动态，与社区开发者保持密切沟通.</p>

    <div class="container">
        <div class="community-resource">
            <a href="/">
                <img src="/imgs/contacts/wechat-account.jpg" alt="Wechat">
            </a>
            <a href="/">微信公众号</a>
            <p>官方微信公众号（Apache Dubbo）</p>
        </div>
        <div id="slack" class="community-resource">
            <a href="/">
                <img src="/imgs/contacts/dingtalk.png" alt="Dingtalk">
            </a>
            <a href="/">钉钉群组</a>
            <p>定期举办线上社区会议或开发者双周会</p>
        </div>
        <div id="twitter" class="community-resource">
            <a href="https://twitter.com/apachedubbo">
                <img src="/imgs/contacts/twitter.png" alt="Twitter">
            </a>
            <a href="https://twitter.com/apachedubbo">Twitter&nbsp;&#9654;</a>
            <p><em>#apachedubbo</em></p>
            <p>关于 Apache Dubbo 项目的国际社区动态与业界国际资讯</p>
        </div>

        <div id="github" class="community-resource">
            <a href="https://github.com/apache/dubbo-awesome">
                <img src="/imgs/contacts/github.png" alt="GitHub">
            </a>
            <a href="https://github.com/apache/dubbo-awesome">GitHub&nbsp;&#9654;</a>
            <p>找到对应语言实现或生态项目的 GitHub 地址，即刻参与 Dubbo 项目源码贡献</p>
        </div>
    </div>
</div>

<!--{{< blocks/contact-us >}}-->


<!--{{< blocks/section color="primary" >}}-->
<!--{{% blocks/feature icon="far fa-envelope" title="订阅邮件组" %}}-->
<!--dev@dubbo.apache.org 参与社区的讨论-->
<!--{{% /blocks/feature %}}-->

<!--{{% blocks/feature icon="fab fa-github" title="欢迎参与贡献！" url="https://github.com/apache/dubbo#contributing" %}}-->
<!--我们通过 [Pull Request](https://github.com/apache/dubbo/pulls) 在 **GitHub** 上协作。我们期待您的加入！-->
<!--{{% /blocks/feature %}}-->

<!--{{% blocks/feature icon="fas fa-bullhorn" title="请关注我们的技术博客！" url="/zh/blog" %}}-->
<!--我们会在第一时间分享 Dubbo 新发布的特性和使用心得-->
<!--{{% /blocks/feature %}}-->
<!--{{< /blocks/section >}}-->
