+++
title = "Apache Dubbo"
linkTitle = "Apache Dubbo Website"
+++

{{< blocks/cover title="Apache Dubbo" image_anchor="top" height="min" color="secondary" >}}
<!--<div class="mt-2 mb-3 font-weight-normal">选择编程语言后快速体验!</div>-->

<!--<div class="github-stat-buttons">-->
<!--    &lt;!&ndash; Place this tag where you want the button to render. &ndash;&gt;-->
<!--    <div style="width:130px;float:left;" class="mr-5">-->
<!--    <a class="btn btn-block btn-info mr-3 mb-2 font-weight-normal rounded" href='docs3-v2/java-sdk/home'>-->
<!--        Java-->
<!--    </a>-->
<!--    <a class="github-button" href="https://github.com/apache/dubbo" data-color-scheme="no-preference: dark_high_contrast; light: light_high_contrast; dark: light;"-->
<!--       data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star apache/dubbo on GitHub">Star</a>-->
<!--    </div>-->
<!--    <div style="width:120px;float:left;" class="mr-5">-->
<!--    <a class="btn btn-block btn-info mr-3 mb-2 font-weight-normal rounded" href='docs3-v2/java-sdk/home'>-->
<!--        Go-->
<!--    </a>-->
<!--    <a class="github-button" href="https://github.com/apache/dubbo-go" data-icon="octicon-star"-->
<!--       data-size="large" data-show-count="true" aria-label="Star apache/dubbo-go on GitHub">Star</a>-->
<!--    </div>-->
<!--    <div style="width:130px;float:left;" class="mr-5">-->
<!--    <a class="btn btn-block btn-info mr-3 mb-2 font-weight-normal rounded" href='docs3-v2/java-sdk/home'>-->
<!--        Rust-->
<!--    </a>-->
<!--    <a class="github-button" href="https://github.com/apache/dubbo-rust" data-icon="octicon-star"-->
<!--       data-size="large" data-show-count="true" aria-label="Star apache/dubbo-go on GitHub">Star</a>-->
<!--    </div>-->
<!--    <div style="width:130px;float:left;" class="mr-5">-->
<!--        <a class="btn btn-block btn-info mr-3 mb-2 font-weight-normal rounded" href='docs3-v2/java-sdk/home'>-->
<!--            Node.js-->
<!--        </a>-->
<!--        <a class="github-button" href="https://github.com/apache/dubbo-rust" data-icon="octicon-star"-->
<!--           data-size="large" data-show-count="true" aria-label="Star apache/dubbo-go on GitHub">Star</a>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="mx-auto">-->
<!--    <p class="display-4 lead font-weight-light">一款易用的、具备高性能 RPC 通信及服务治理能力的微服务开发框架</p>-->
<!--</div>-->

<div class="mx-auto mt-3">
    <div class="mt-2 mb-3 font-weight-normal">Get Started!</div>
    <a class="btn btn-lg btn-info rounded mr-3 font-weight-normal" href='docs3-v2/java-sdk'>
        Java
    </a>
    <a class="btn btn-lg btn-info rounded mr-3 font-weight-normal" href='docs3-v2/golang-sdk'>
        Go
    </a>
    <a class="btn btn-lg btn-info rounded mr-3 font-weight-normal" href='docs3-v2/rust-sdk'>
        Rust
    </a>
    <a class="btn btn-lg btn-info rounded mr-3 font-weight-normal" target="_blank" href='https://github.com/apache/dubbo-js'>
        Node.js
    </a>
    <a class="btn btn-lg btn-info rounded mr-3 font-weight-normal"  target="_blank" href='https://github.com/apache/dubbo-python2'>
        Python
    </a>
    <a class="btn btn-lg btn-info rounded mr-3 font-weight-normal" href='docs3-v2'>
        More...
    </a>

</div>
{{< /blocks/cover >}}

{{% blocks/lead color="white" height="min" id="whyDubbo" %}}
<h1 class="font-weight-normal">Why Dubbo?</h1>
<!--<p class="font-weight-light">-->
<!--    Apache Dubbo 首先是一款 rpc 框架，通过可扩展的传输协议（二进制、基于 HTTP/2 的流式通信、HTTP+JSON 等）为微服务组件提供高性能通信，并通过 SDK 为每种语言提供易于使用的微服务配置、API 与编程范式。孵化于阿里巴巴电商应用场景，Dubbo 核心架构充分考虑了超大规模微服务集群实践诉求，历经众多行业标杆企业生产级流量考验，其构建的企业级微服务治理能力如服务发现、流量治理、可观测、认证鉴权、Service Mesh部署方案可以很好的解决企业微服务实践问题。-->
<!--</p>-->
<!--<p class="font-weight-light">-->
<!--    Apache Dubbo 是一款支持多语言的、易用的 web 和 rpc 框架，同时为构建企业级微服务提供服务发现、流量治理、可观测、认证鉴权等能力、工具与最佳实践。-->
<!--</p>-->
{{% /blocks/lead %}}

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="framework" url="./overview/what/advantages/usability/" %}}
#### [Easy To Use](#), Let Developers Focus On Real Business

Unified microservice development paradigm with multi-language SDK support. Supporting any protocol from HTTP/2, gRPC, REST, Thrift, to TCP.
{{% /blocks/feature %}}

{{% blocks/feature image="governance" icon="fas fa-share-alt" url="./overview/what/advantages/traffic-management/" %}}
#### [Service Governance](#), Monitor and Control Cluster In Real-time

Built-in traffic management policies such as service discovery, load balancing, and routing. Rich ecosystem with tracing, circuit break, transaction, logging, metrics, service mesh, and visualized console integrations.
{{% /blocks/feature %}}

{{% blocks/feature image="performance" icon="fa fa-share-alt" title="Mesh Solution" url="./overview/what/advantages/performance/" %}}
#### [High Performance](#)，Designed For Scale

Making the Alibaba Global Shopping Festival possible by supporting millions of instances and trillions of calls every year, it's designed as low-latency, high-throughput, and high-scalability in the first place.
{{% /blocks/feature %}}

{{% blocks/feature image="production" icon="fa fa-share-alt" title="production" url="./overview/what/advantages/extensibility/" %}}
#### [Production Ready](#), Proven Production-stable For Years

Dubbo users has achieved full industry coverage: Commercial Bank of China, Ctrip, Haier, Kingdee, Cloud Vendors like Alibaba Cloud, Tencent Cloud, Huawei Cloud, etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="dubbo_video_homepage_background" >}}
<div class="light-text">
    <h2>Use-case: Apache Dubbo In Eleme, Alibaba</h2>
    <p>By Jun Liu，Apache Dubbo PMC Chair</p>
    <button id="desktopShowVideoButton" onclick="kub.showVideo()">Watch Now</button>
    <br>
    <br>
    <a href="./overview/tasks/" button id="desktopKCButton">Learn Dubbo With Tasks!</a>
    <br>
    <br>
    <br>
    <br>
    <a href="./blog/news/" button id="desktopKCButton">Ecosystem, Meetup and Activities in Dubbo Community!</a>
</div>
<div id="videoPlayer">
    <iframe data-url="//player.bilibili.com/player.html?aid=598998096&bvid=BV1vB4y1C7wL&cid=787938568&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" frameborder="0" allowfullscreen="true"></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/dubbo-features >}}

<div id="resources" class="community-section">
    <h2>Follow Us</h2>

    <p class="community-simple">Subscribe to one or more of the following channels to receive project updates, keep connection with community developers.</p>

    <div class="container">
        <div class="community-resource">
            <a href="#">
                <img src="/imgs/contacts/wechat-account.jpg" alt="Wechat">
            </a>
            <a href="#">Wechat Channel</a>
            <p>Apache Dubbo</p>
        </div>
        <div id="slack" class="community-resource">
            <a href="#">
                <img src="/imgs/contacts/dingtalk.png" alt="Dingtalk">
            </a>
            <a href="#">DingTalk Channel</a>
            <p>Online community meetings or Bi-weekly!</p>
        </div>
        <div id="twitter" class="community-resource">
            <a href="https://twitter.com/apachedubbo">
                <img src="/imgs/contacts/twitter.png" alt="Twitter">
            </a>
            <a href="https://twitter.com/apachedubbo">Twitter&nbsp;&#9654;</a>
            <p><em>#apachedubbo</em></p>
            <p>Real-time announcements of blog posts, events, news, ideas.</p>
        </div>

        <div id="github" class="community-resource">
            <a href="https://github.com/apache/dubbo-awesome">
                <img src="/imgs/contacts/github.png" alt="GitHub">
            </a>
            <a href="https://github.com/apache/dubbo-awesome">GitHub&nbsp;&#9654;</a>
            <p>All the project and issue tracking, plus of course code.</p>
        </div>
    </div>
</div>

<!--{{< blocks/contact-us >}}-->


<!--{{< blocks/section color="primary" >}}-->
<!--{{% blocks/feature icon="far fa-envelope" title="订阅邮件组" %}}-->
<!--dev@dubbo.apache.org 参与社区的讨论-->
<!--{{% /blocks/feature %}}-->

<!--{{% blocks/feature icon="fab fa-github" title="欢迎参与贡献！" url="https://github.com/apache/dubbo#contributing" %}}-->
<!--我们通过 [Pull Request](https://github.com/apache/dubbo/pulls) 在 **GitHub** 上协作。我们期待您的加入！-->
<!--{{% /blocks/feature %}}-->

<!--{{% blocks/feature icon="fas fa-bullhorn" title="请关注我们的技术博客！" url="/zh/blog" %}}-->
<!--我们会在第一时间分享 Dubbo 新发布的特性和使用心得-->
<!--{{% /blocks/feature %}}-->
<!--{{< /blocks/section >}}-->
