+++
title = "Apache Dubbo"
linkTitle = "Apache Dubbo Website"

+++

{{< blocks/cover title="Apache Dubbo" image_anchor="top" height="auto" color="primary" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
    LEARN MORE <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-light mr-3 mb-4" href="/en/blog/2020/05/18/past-releases/">
        DOWNLOAD <i class="fas fa-download ml-2 "></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/apache/dubbo">
        GITHUB <i class="fab fa-github ml-2 "></i>
    </a>
    <p class="lead mt-5">Apache Dubbo is a high-performance, java based open source RPC framework.</p>
    
    
</div>
{{< blocks/link-down color="white" >}}     
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Dubbo |ˈdʌbəʊ| offers six key functionalities, which include transparent interface based RPC,  intelligent load balancing, automatic service registration and discovery, high extensibility, runtime traffic routing, and visualized service governance.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-exchange-alt" title="Transparent interface based RPC" %}}
Dubbo provides high performance interface based RPC, which is transparent to users.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-random" title="Intelligent load balancing" %}}
Dubbo supports multiple load balancing strategies out of the box, which perceives downstream service status to reduce overall latency and improve system throughput.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-share-alt" title="Automatic service registration and discovery" %}}
Dubbo supports multiple service registries, which can detect service online/offline instantly.
{{% /blocks/feature %}}

{{% blocks/feature icon="fad fa-expand" title="High extensibility" %}}
Dubbo's micro-kernel and plugin design ensures that it can easily be extended by third party implementation across core features like Protocol, Transport, and Serialization.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-traffic-light" title="Runtime traffic routing" %}}
Dubbo can be configured at runtime so that traffic can be routed according to different rules, which makes it easy to support features like blue-green deployment, data center aware routing, etc.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-sliders-h" title="Visualized service governance" %}}
Dubbo provides rich tools for service governance and maintenance such as querying service metadata, health status and statistics.
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="far fa-envelope" title=" Subscribe mailing list" %}}
dev@dubbo.apache.org to discuss with the community
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/apache/dubbo#contributing" %}}
We do a [Pull Request](https://github.com/apache/dubbo/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-bullhorn" title="Read our blogs" url="/en/blog" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}
{{< /blocks/section >}}
