
.md-tabs_csr {
    cursor: pointer;
    position: relative;
    height: 4.5rem;
}

.md-sub-tabs_bn {
    display: none;
    position: absolute;
    top: 1.8rem;
    left: 1rem;
}

.md-tabs_csr:hover .md-sub-tabs_bn {
    display: block;
}

.md-sub-tabs_link {
    display: block;
    margin-top: .5rem;
    font-size: .7rem;
    opacity: .7;
    transition: transform 400ms cubic-bezier(0.1, 0.7, 0.1, 1), opacity 250ms;
}

.md-sub-tabs_link:hover {
    color: inherit;
    opacity: 1;
}

.text-center {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 15px;
}

.bottom-hr {
    margin-top: 30px;
    width: 100%;
    display: flex;
    max-width: 61rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 .2rem;
}

.feature-item {
    flex: 1;
    min-width: 0;
    display: flex;
}

.feature-item {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    padding: 15px;
    word-break: break-all
}

.feature-right {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.feature-title {
    display: block;
    font-size: 1.5em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.feature-detail {
    color: #999;
    font-size: 13px;
}

.mt35 {
    margin-top: 35px;
}