{{ with .Site.Params.algolia_docsearch }}
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script>
    docsearch({
        // Your apiKey and indexName will be given to you once
        // we create your config
        appId: 'L5F4T9F0I1',
        apiKey: '364ae307e1da9d02b2335675e9db1eb1',
        indexName: 'apache_dubbo',
        // Replace inputSelector with a CSS selector
        // matching your search input
        container: '#docsearch',
        // Set debug to true to inspect the dropdown
        debug: false,
    });
    docsearch({
        // Your apiKey and indexName will be given to you once
        // we create your config
        appId: 'L5F4T9F0I1',
        apiKey: '364ae307e1da9d02b2335675e9db1eb1',
        indexName: 'apache_dubbo',
        // Replace inputSelector with a CSS selector
        // matching your search input
        container: '#docsearch_zh_home',
        // Set debug to true to inspect the dropdown
        debug: false,
    });
</script>
{{ end }}
